<h1 class="ui center aligned icon header">
  <i class="circular sound icon"></i>
  Clamor
</h1>
<div class="ui text container segment">
    <h3>
Clamor helps you find where your favorite artists are performing and discover similar artists and performances in your area!
    </h3>
</div>
<div class="ui centered grid">
    <div class="centered row">
        <form ng-submit="search()">
            <div class="ui icon input">
                <input type="text" ng-model="searchQuery" placeholder="Search...">
                <i class="search icon"></i>
            </div>
        </form>
    </div>
</div>
